@use '../util/' as u;

:root{
    --black: #000;
    --white: #fff;
    --gray:#bbbbbb;
    --light-gray:rgb(241, 241, 241);
    --bg-color:#121212;
    --play-color:#1ED760;
    --light-black:#171717;
    --player-color:#181818;
    --color-primary: #007bff;


    --blue:#1E1057;
    --kalu:#0c3d35;
    --nadun-uyana:#55360a;
    --everning:#69313f;
    --sandawathiye:#534A41;
    --shark:#07384d;
}
