@use '../util/' as u;

:root{
    --black: #000;
    --white: #fff;
    --gray:#bbbbbb;
    --light-gray:rgb(241, 241, 241);
    --bg-color:#121212;
    --blue:#1E1057;
    --play-color:#1ED760;
    --light-black:#171717;
    --player-color:#181818;
}
