@use '../util/' as u;
@use '../global/' as g;

.lofi_top{
    background-image: linear-gradient(to bottom,#BA3F3F , #642323 );
    transition: background 0.5s linear;
    width: 100%;
    // height: 40vh;
    padding: u.rem(20);

    
}

.main{
    background-color: var(--bg-color);
    height: calc(100vh - 100px);
    // width: 100%;
    position: fixed;
    top: 0px;
    left: u.rem(230);
    right: u.rem(230);
    // overflow:scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    @include u.breakpoint-down(second){
        left: 0;
        right: 0;      
    }
    

    &__list__top{
        margin-top: 30px;
        // outline: 2px solid red;
        display: flex;
        color: var(--white);
        font-family: u.$roboto;
        img{
            width: clamp(150px, 20vw, 300px);
            height: clamp(150px, 20vw, 300px);
            border-radius: 10px;
        }
        .titles{
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            h2{
                font-size: u.rem(15);
                margin-bottom: 7px;
            }
            h1{
                font-size: clamp(u.rem(40), 5.5vw, u.rem(100));
                margin-bottom: 15px;
            }
            .user{
                display: flex;
                align-items: center;
                img{
                    width: 27px;
                    height: 27px;
                    border-radius: 50%;
                    border: 2px solid var(--white);
                }
                h1{
                    font-size: u.rem(17);
                    margin-left: 10px;
                    margin-bottom: 0px;
                }
            }
        }
    }

    &__list-content{
        background-image: linear-gradient(to bottom, #401818 0%, var(--bg-color) 80%);
        max-height: 300px;

        &__top{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            .controls{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: clamp(270px, 15% , 35%);
                // outline: 2px solid yellow;
                .play{
                    font-size: u.rem(25);
                    padding: 15px;
                    color: black;
                    background-color: var(--play-color);
                    border-radius: 50%;
                    cursor: pointer;
                }
                .play:hover{
                    transform: scale(1.05);
                    
                }
                .love{
                    font-size: 40px;
                    color: var(--play-color);
                }
                .love:active{
                    color: #C5BABA;
                }
                .download{
                    font-size: 40px;
                    color: #C5BABA;
                }
                .dote{
                    display: flex;
                    align-items: center;
                    div{
                        background-color: #9C8888;
                        border-radius: 50%;
                        width: 7px;
                        height: 7px;
                        margin: 2px;
                    }
                }
            }
            
            .list-right-side{
                font-family: u.$roboto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: clamp(150px, 10% , 35%);
                .search{
                    color: #BFB4B4;
                    font-size: u.rem(20);
                }
                .down{
                    color: #BFB4B4;
                    font-size: u.rem(15);
                }
                h1{
                    color: #BFB4B4;
                    font-size: u.rem(15);

                }
            }

        }

        &__body{
            font-family: u.$roboto;
            padding: 10px;

            .lofi-songs{
                width: 100%;
                color: #9F9B9B;
            
                
                padding: 15px;

                tr{
                    border: 1px solid white;
                    border-radius: 20px;
                    th{
                    
                        
                        color: #9F9B9B;
                        font-family: u.$roboto;
                        font-size: u.rem(14);
                        font-weight: u.$bold;
                        border-bottom: 1px solid rgba(#9F9B9B, 0.2);
                        text-align: left;
                        padding: 0px 10px 15px 10px;

                    }

                    th:hover{
                        color: var(--white);
                    }

                    .song{
                        display: flex;
                        align-items: center;
                        img{
                            width: 40px;
                            height: 40px;
                            margin-right: 15px;
                            border-radius: 5px;
                        }
                        h1{
                            color: white;
                            font-size: u.rem(15);
                            border-bottom: 7px;
                        }
                        h2{
                            color: #9F9B9B;
                            font-size: u.rem(14);
                            font-weight: u.$regular;
                        }
                    }

                    td{
                        .play-btn{
                            display: none;
                            font-size: 20px;
                        }
                        p{
                            font-size: u.rem(17);
                        }
                    
                        
                        font-family: u.$roboto;
                        font-weight: u.$regular;
                        font-size: u.rem(14);
                        margin: 5px 0px 5px 0px;
                        cursor: pointer;
                        padding: 10px;
                        padding: 5px 10px 5px 10px;


                    }
                    .hash{
                        width: 50px;

                        .playing{
                            display: none;
                        }
                          .now.playing .bar {
                            display: inline-block;
                            width: 2px;
                            height: 1px;
                            overflow: hidden;
                            background-color:var(--play-color);
                            animation-name: pulse;
                            animation-duration: 1.5s;
                            animation-iteration-count: infinite;
                            margin: -0.5px -0.5px -0.5px -0.5px;
                          }
                          
                          .n1 {
                            animation-delay: 0.5s;
                          }
                          .n2 {
                            animation-delay: 0.2s;
                          }
                          .n3 {
                            animation-delay: 1.2s;
                          }
                          .n4 {
                            animation-delay: 0.9s;
                          }

                          
                          @keyframes pulse {
                            0% {
                              height: 1px;
                              margin-top: 0;
                            }
                            10% {
                              height: 10px;
                              margin-top: -10px;
                            }
                            50% {
                              height: 5px;
                              margin-top: -5px;
                            }
                            60% {
                              height: 7.5px;
                              margin-top: -7.5px;
                            }
                            80% {
                              height: 15px;
                              margin-top: -15px;
                            }
                            100% {
                              height: 1px;
                              margin-top: 0;
                            }
                          }
                          
                    }
                }
                .table-body:hover{
                    .song{
                        h2{
                            color: white;
                        }
                    }
                    .art{
                        color: white;
                    }
                    .number{
                        display: none;
                    }
                    .play-btn{
                        display: block;
                    }
                    background-color: rgba(white, 0.1);
                }

                .time{
                    font-size: u.rem(20);
                    color: #9F9B9B;
                }
                .time:hover{
                    color: var(--white);
                }
            }
        }
    }
}