@use '../util/' as u;
@use '../global/' as g;

.main{
    background-color: var(--bg-color);
    height: calc(100vh - 100px);
    // width: 100%;
    position: fixed;
    top: 0px;
    left: u.rem(230);
    right: u.rem(230);
    // overflow:scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    @include u.breakpoint-down(second){
        left: 0;
        right: 0;      
    }

    &__top-side{
        width: 100%;
        // height: 40vh;
        background-image: linear-gradient(to bottom, var(--blue) 0%, var(--bg-color) 80%);
        padding: u.rem(20);
        // outline: 2px solid red;

        &__top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 0;
            // outline: 2px solid red;
            
            div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                // width: u.rem(90);

                ion-icon{
                    font-size: 23px;
                    background-color: var(--bg-color);
                    color: var(--gray);
                    margin: 0px 10px 0px 0px;
                    cursor: pointer;
                    pointer-events: stroke; 
                    border-radius: 50%;
                    padding: 5px;
                    opacity: 70%;
                }
            }
            .round{
                background-color: var(--bg-color);
                border-radius: 50px;
                // padding: 5px;
                h1{
                    color: var(--white);
                    font-family: u.$roboto;
                    font-size: u.rem(15);
                    margin-left: 10px;
                }

                img{
                    width: 30px;
                    border-radius: 50%;
                }
                ion-icon{
                    font-size: 15px;
                }
            }
        }
        .greting{
            color: var(--white);
            font-family: u.$roboto;
            font-weight: u.$bold;
            margin-top: 30px;
            font-size: clamp(u.rem(20), 2vw, u.rem(33));
        }

        &__content{

            &__row{
                display: flex;
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
                div{
                    background-color: rgba(rgb(148, 148, 148), 0.2);
                    font-family: u.$roboto;
                    font-size: clamp(u.rem(5), 1vw, u.rem(9));
                    color: var(--white);
                    display: flex;
                    align-items: center;
                    width: calc((100vw - 460px)/3.2);
                    min-width: 250px;
                    border-radius: 10px;
                    margin-top: 30px;
                    overflow: hidden;
                    cursor: pointer;
                    transition-duration: 0.5s;
                    position: relative;
                    img{
                        width: 85px;
                        margin-right: 15px;
                    }
                }
                div:hover{
                    background-color: rgba(rgb(148, 148, 148), 0.5);
                    .play{
                        display: block;
                    }
                }
    
                .play{
                    position: absolute;
                    top: 17%;
                    right: 5%;
                    font-size: 25px;
                    padding: 15px;
                    color: black;
                    background-color: var(--play-color);
                    border-radius: 50%;
                    display: none;
                    // transition-duration: 0.5s;
                }
                .play:hover{
                    transform: scale(1.05);
                }

                @include u.breakpoint-down(first){
                    justify-content: center;
                    div{
                        width: calc((100vw - 460px)/1);

                    }
                }
                @include u.breakpoint-down(second){
                    div{
                        width: calc((100vw - 10px)/1);

                    }
                }
            }
        }
    }    

    &__content{
        // background-color: green;
        font-family: u.$roboto;
        padding: u.rem(20);
        // outline: 3px solid red;
        width: 100%;
        
        &__top{
            display: flex;
            // align-items: center;
            justify-content: space-between;
            // flex-directiosn: column;
            // background-color: blue;

            h1{
                color: var(--white);
                font-size: u.rem(23);
                // outline: 3px solid red;
            }
            h2{
                color: var(--gray);
                font-size: u.rem(15);
            }
            h1:hover, h2:hover{
                // text-decoration: underline;
                cursor: pointer;
            }
        }

        &__body{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            height: 300px;
            max-height: 300px;
            align-items: center;
            overflow: hidden;
            div{
                width: 200px;
                min-width: 200px;
                background-color: var(--light-black);
                padding: 20px;
                height: 276px;
                border-radius: 10px;
                position: relative;
                transition-duration: 0.5s;
                margin: 12px 10px 12px 10px;
                img{
                    width: 100%;
                    border-radius: 10px;
                }
                h1{
                    color: var(--white);
                    font-size: u.rem(15);
                    margin-top: 10px;
                }
                p{
                    color: var(--gray);
                    font-size: u.rem(15);
                    margin-top: 10px
                }
                .play{
                    position: absolute;
                    top: 42%;
                    right: 13%;
                    font-size: 25px;
                    padding: 15px;
                    color: black;
                    background-color: var(--play-color);
                    border-radius: 50%;
                    opacity: 0;
       
                    // transition-duration: 0.5s;
                }
                .play:hover{
                    transform: scale(1.05);
                    
                }
                @keyframes playanime{
                    0%{
                        opacity: 0;
                        top: 44%;
                    }
                    100%{
                        opacity: 100;
                        top: 42%;
                    }
                  }
                
            };
            div:hover{
                background-color: #282828;
                cursor: pointer;
                .play{
                    animation: playanime 0.5s;
                    animation-fill-mode: forwards;
                }
                
            }
        }
    }
}